.burger-btn__item {
  display: block;
  position: relative;
  width: 24px;
  height: 3px;
  background-color: #fff;
  transition: all .2s ease-in;
}

.burger-btn__item::after {
  position: absolute;
  top: -10px;
  left: 0;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #fff;
  transition: all .2s ease-in;
}

.burger-btn__item::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #fff;
  transition: all .2s ease-in;
}

.burger-btn__item_close {
  background-color: transparent;
}

.burger-btn__item_close::after {
  width: 30px;
  transform: rotate(-45deg);
  top: 0;
  left: -2.5px;
}

.burger-btn__item_close::before {
  width: 30px;
  transform: rotate(45deg);
  top: 0;
  left: -2.5px;
}