.header__burger-btn {
  display: none;
  width: 24px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 27px;
  cursor: pointer;
  transition: all .2s ease-in;
}

.header__burger-btn:hover {
  opacity: .6;
}

.header__burger-btn_burger-active {
  display: block;
}

@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}