.header {
  display: flex;
  border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (min-width: 768px) {
  .header {
    margin: 0 100px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    margin: 0 200px;
  }
}

.header_burger-open {
  flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .header_burger-open {
    flex-direction: row;
  }
}